.container {
  // max-width: var(--container-width);
  margin: 0 auto;

  padding: 0 2rem;
}

// .container {
//   padding: 0 2rem;
//   margin: 0 auto;
// }

.h2-heading {
  font-size: var(--font-size-35);
  font-weight: var(--font-weight-500);
  color: var(--color-dark-blue);
  line-height: var(--linehieght-50);
  margin-bottom: var(--padding-20);

  @media (max-width: 991px) {
    & {
      font-size: var(--font-size-25);
      line-height: var(--linehieght-30);
    }
  }
}

.description {
  line-height: var(--linehieght-30);
  margin-bottom: var(--padding-20);
}

.button {
  background-color: var(--color-mainColor);
  padding: 1.75rem 7.75rem;
  font-weight: var(--font-weight-bold);
  border-radius: var(--radius-10);
  color: var(--color-white);
  position: relative;
  box-shadow: 0px 29px 33px -21px rgb(245 56 56 / 98%);
  border: 0.2rem solid transparent;

  transition: var(--animation-timing);

  &:hover {
    background-color: white;
    border: 0.2rem solid var(--color-mainColor);
    color: var(--color-mainColor);
  }
}

.bold {
  font-weight: var(--font-weight-bold);
}

.semi-bold {
  font-weight: 500;
}

.regular--gray {
  color: var(--color-secondColor);
  font-weight: 400;
}






// @mixin grid($columns, $columns-width, $justify, $align) {
//   display: grid;
//   grid-template-columns: repeat($columns, $columns-width);
//   justify-content: $justify;
//   align-items: $align;
// }

// @mixin flex($dir, $justify, $align) {
//   display: flex;
//   flex-direction: $dir;
//   justify-content: $justify;
//   align-items: $align;
// }

// @mixin btn($width, $height, $radius, $bg-color, $color, $shadow) {
//   width: $width;
//   height: $height;
//   line-height: $height;
//   text-align: center;
//   border-radius: $radius;
//   background-color: $bg-color;
//   color: $color;
//   font-weight: var(--font-weight-medium);
//   box-shadow: $shadow;
//   transition: var(--transition-timing);
// }

// .primary-btn {
//   @include btn(
//     15.625rem,
//     3.75rem,
//     0.625rem,
//     var(--color-primary),
//     var(--color-white),
//     var(--btn-shadow)
//   );
// }

// .secondry-btn {
//   @include btn(
//     9.375rem,
//     2.8125rem,
//     2.8125rem,
//     transparent,
//     var(--color-primary),
//     0
//   );
//   border: 1px solid var(--color-primary);
//   &:hover {
//     background-color: var(--color-primary);
//     color: var(--color-white);
//     box-shadow: var(--btn-shadow);
//   }
// }

.section-padding {
  padding: var(--padding-tb) 0;
}

.section-title {
  font-size: var(--font-size-35);
  font-weight: var(--font-weight-medium);
  line-height: var(--heading-line-height);
  color: var(--color-heading);
  margin-bottom: 1.25rem;
}

.section-header {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: var(--text-line-height);
  margin-bottom: var(--margin-bottom);
}

.small-heading {
  margin: 1.875rem 0;
  text-align: center;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
  color: var(--color-heading);
}
