<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Abdelrahman Ayman" />
    <meta
      name="description"
      content="Huge Global Network of Fast VPN. See LaslesVPN everywhere to make it easier for you when you move locations. Locations Map."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/logo.png" type="image/x-icon" />

        <!-- Import Google Font
    ============================================ -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

        <!-- Import Icon File 
    ============================================ -->
    <!-- <link
      rel="stylesheet"
      href="css/material-design-iconic-font.min.css"
    /> -->

        <!-- Css Style Files
    ============================================ -->
    <link rel="stylesheet" href="stylem.css" />
    <title>LaslesVPN Tempate</title>
  </head>
<body>
  <div class="containers">
   <!-- Start Statistics Section
    ============================================= -->
    <section class="statistics">
      <!-- Statistics Item -->
      <div class="statistics__item">
        <div class="stats__icons">
          <img
            class="stats__icon"
            src="images/icons/user.png"
            alt="User icon"
          />
        </div>
        <div class="stats__info">
          <h3>90+</h3>
          <span class="stats__name">Users</span>
        </div>
      </div>
      <!-- Statistics Item -->
      <div class="statistics__item">
        <div class="stats__icons">
          <img
            class="stats__icon"
            src="images/icons/location.png"
            alt="location icon"
          />
        </div>
        <div class="stats__info">
          <h3>30+</h3>
          <span class="stats__name">Locations</span>
        </div>
      </div>
      <!-- Statistics Item -->
      <div class="statistics__item">
        <div class="stats__icons">
          <img
            class="stats__icon"
            src="images/icons/Server.png"
            alt="Server icon"
          />
        </div>
        <div class="stats__info">
          <h3>50+</h3>
          <span class="stats__name">Servers</span>
        </div>
      </div>
    </section>
        <!-- End Statistics Section
    ============================================= -->
  </div>
</body>
</html>