<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Abdelrahman Ayman" />
    <meta
      name="description"
      content="Huge Global Network of Fast VPN. See LaslesVPN everywhere to make it easier for you when you move locations. Locations Map."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/logo.png" type="image/x-icon" />

        <!-- Import Google Font
    ============================================ -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

        <!-- Import Icon File 
    ============================================ -->
    <!-- <link
      rel="stylesheet"
      href="css/material-design-iconic-font.min.css"
    /> -->

        <!-- Css Style Files
    ============================================ -->
    <link rel="stylesheet" href="stylem.css" />
    <title>LaslesVPN Tempate</title>
  </head>
<body>
  <div class="containers">
    <!-- Start Features Section
    ============================================= -->
    <section id="features" class="features">
      <!-- Image Section -->
  <div class="features_img">
    <img
      class="features_pic"
      src="images/sections-img/features_img.svg"
      alt="An illustration of the Features section"
    />
  </div>
      <!-- Features Content -->
  <div class="features_content">
    <h2 class="h2-heading">We Provide Many Features You Can Use</h2>
    <p class="features__description description">
      You can explore the features that we provide with fun and have their
      own functions each feature.
    </p>
    <!-- Features List -->
    <ul class="features__items">
      <li class="features__item">
        <img
          class="feature_icon"
          src="images/icons/trueCircle.png"
          alt="true icon"
        />
        <p class="feature-desc">Powerfull online protection.</p>
      </li>
      <li class="features__item">
        <img
          class="feature_icon"
          src="images/icons/trueCircle.png"
          alt="true icon"
        />
        <p class="feature-desc">Internet without borders.</p>
      </li>
      <li class="features__item">
        <img
          class="feature_icon"
          src="images/icons/trueCircle.png"
          alt="true icon"
        />
        <p class="feature-desc">Supercharged VPN</p>
      </li>
      <li class="features__item">
        <img
          class="feature_icon"
          src="images/icons/trueCircle.png"
          alt="true icon"
        />
        <p class="feature-desc">No specific time limits.</p>
      </li>
    </ul>
  </div>
</section>
<!-- End Features Section
============================================= -->
  </div>
</body>
</html>