<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Abdelrahman Ayman" />
    <meta
      name="description"
      content="Huge Global Network of Fast VPN. See LaslesVPN everywhere to make it easier for you when you move locations. Locations Map."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/logo.png" type="image/x-icon" />

        <!-- Import Google Font
    ============================================ -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

        <!-- Import Icon File 
    ============================================ -->
    <!-- <link
      rel="stylesheet"
      href="css/material-design-iconic-font.min.css"
    /> -->

        <!-- Css Style Files
    ============================================ -->
    <link rel="stylesheet" href="stylem.css" />
    <title>LaslesVPN Tempate</title>
  </head>
<body>
  <div class="containers">
    <!-- Start customers Section
    ============================================= -->

    <section class="customers_bar">
      <div class="customers_bar__icon">
        <img
          class="bar_icon__pic"
          src="images/customers-img/Netflix.svg"
          alt="Netflix Logo"
        />
      </div>
      <div class="customers_bar_icon">
        <img
          class="bar_icon__pic"
          src="images/customers-img/Reddit.svg"
          alt="Reddit Logo"
        />
      </div>
      <div class="customers_bar_icon">
        <img
          class="bar_icon__pic"
          src="images/customers-img/Amazon.svg"
          alt="Amazon Logo"
        />
      </div>
      <div class="customers_bar_icon">
        <img
          class="bar_icon__pic"
          src="images/customers-img/Discord.svg"
          alt="Discord Logo"
        />
      </div>
      <div class="customers_bar_icon">
        <img
          class="bar_icon__pic"
          src="images/customers-img/Spotify.svg"
          alt="Spotify Logo"
        />
      </div>
    </section>
  <!-- End Customers Section
  ============================================= -->
  </div>
</body>
</html>