<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Abdelrahman Ayman" />
    <meta
      name="description"
      content="Huge Global Network of Fast VPN. See LaslesVPN everywhere to make it easier for you when you move locations. Locations Map."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/logo.png" type="image/x-icon" />

        <!-- Import Google Font
    ============================================ -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

        <!-- Import Icon File 
    ============================================ -->
    <!-- <link
      rel="stylesheet"
      href="css/material-design-iconic-font.min.css"
    /> -->

        <!-- Css Style Files
    ============================================ -->
    <link rel="stylesheet" href="stylem.css" />
    <title>LaslesVPN Tempate</title>
  </head>
<body>
  <div class="containers">
    <!-- Start Testimonials Section
    ============================================= -->
    <section class="testimonials section-padding" id="testimonials">

      <div class="section-header">
        <h2 class="h2-heading section-title">
          Trusted by Thousands of <br />
          Happy Customer
        </h2>
        <p class="show__description description">
          These are the stories of our customers who have joined us with great
          <br />
          pleasure when using this crazy feature.
        </p>
      </div>

      <!-- Testimonials Content Wrapper -->
      <div class="testimonials__wrapper">
        <!-- Start Testimonials Customer -->
        <div class="testimonial">
          <div class="testimonial__header">
              <div class="header-img">
                <img
                  src="images/testimonials-img/Eng_Ahmad_Ali.jpeg"
                  alt="person picture"
                />
              </div>

              <div class=" testimonails-info header-title">
                  <h3 class="testimonial-name small-heading">Eng Ahmad Ali</h3>
                  <span class="testimonial-location">Cairo, Egypt</span>
              </div>

              <div class="testimonial__header-rating header-rate">
                <span class="rating" >4.9</span>
                <img
                class="star"
                src="images/testimonials-img/star-filled.svg"
                alt="Star icon"
                        />
              </div>
          </div>

          <div class="testimonial__content">
              “Wow... I am very happy to use this VPN, it turned out to be
              more than my expectations and so far there have been no
              problems. LaslesVPN always the best”.
          </div>
        </div>
        <!-- End Testimonials Customer -->

          <!-- Start Testimonials Customer -->
          <div class="testimonial">
            <div class="testimonial__header">
                <div class="header-img">
                  <img
                    src="images/testimonials-img/Eng_Ahmad_Fathy.jpeg"
                    alt="person picture"
                  />
                </div>
        
                <div class=" testimonails-info header-title">
                    <h3 class="testimonial-name small-heading">Eng Ahmad Fathy</h3>
                    <span class="testimonial-location">Cairo, Egypt</span>
                </div>
        
                <div class="testimonial__header-rating header-rate">
                  <span class="rating" >4.9</span>
                  <img
                  class="star"
                  src="images/testimonials-img/star-filled.svg"
                  alt="Star icon"
                          />
                </div>
            </div>
        
            <div class="testimonial__content">
              “I like it because I like to travel far and still can connect
              with high speed.”
            </div>
          </div>
          <!-- End Testimonials Customer -->


            <!-- Start Testimonials Customer -->
        <div class="testimonial">
          <div class="testimonial__header">
              <div class="header-img">
                <img
                  src="images/testimonials-img/Eng_Mohamed_Abusrea.jpeg"
                  alt="person picture"
                />
              </div>

              <div class=" testimonails-info header-title">
                  <h3 class="testimonial-name small-heading">Eng Mohamed Abusrea</h3>
                  <span class="testimonial-location">Cairo, Egypt</span>
              </div>

              <div class="testimonial__header-rating header-rate">
                <span class="rating" >4.5</span>
                <img
                class="star"
                src="images/testimonials-img/star-filled.svg"
                alt="Star icon"
                        />
              </div>
          </div>

          <div class="testimonial__content">
            “This is very unusual for my business that currently requires a
            virtual private network that has high security.”
          </div>
        </div>
        <!-- End Testimonials Customer -->
      </div>

      <div class="testimonials__controls">
        <div class="testimonials__indicators">
          <span class="testimonials__indicators-pointer"> </span>
          <span
            class="testimonials__indicator testimonials__indicator--active"> </span>
          <span
            class="testimonials__indicator testimonials__indicator--active"> </span>
          <span class="testimonials__indicator"></span>
          <span class="testimonials__indicator"></span>
          <span class="testimonials__indicator"></span>
        </div>

        <div class="testimonials__nav">
          <div class="testimonial__nav testimonial__nav-arrow--left">
            <i class="fa-solid fa-arrow-left arrow-icon"></i>
          </div>
          <div class="testimonial__nav testimonial__nav-arrow--right">
            <i class="fa-solid fa-arrow-right arrow-icon"></i>
          </div>
        </div>

      </div>

    </section>
    <!-- end Testimonials Section
    ============================================= -->
  </div>
</body>
</html>