<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Abdelrahman Ayman" />
    <meta
      name="description"
      content="Huge Global Network of Fast VPN. See LaslesVPN everywhere to make it easier for you when you move locations. Locations Map."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/logo.png" type="image/x-icon" />

        <!-- Import Google Font
    ============================================ -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

        <!-- Import Icon File 
    ============================================ -->
    <!-- <link
      rel="stylesheet"
      href="css/material-design-iconic-font.min.css"
    /> -->

        <!-- Css Style Files
    ============================================ -->
    <link rel="stylesheet" href="css/stylem.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/all.min.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <title>LaslesVPN Template</title>
  </head>
<body>
  <div class="container">
    <header class="header">
        <!-- Branding -->
        <div class="header__brand">
          <img class="header__brand-logo" src="images/Logo.png" alt="site logo picture" />
          <span class="header__brand-name">Lasles<span class="header__brand-name--bold">VPN</span></span>
        </div>
  
        <!-- Burger Menu -->
        <label for="menu" class="burger-menu">
          <div class="burger-menu__bar"></div>
          <div class="burger-menu__bar"></div>
          <div class="burger-menu__bar"></div>
        </label>
        <input type="checkbox" id="menu" class="burger-menu__checkbox" />

                <!-- Navigation Links -->
        <nav class="navigation">
            <ul class="navigation__list">
              <li><a href="#bio" class="navigation__link navigation__bio">About</a></li>
            <li>
              <a href="#features" class="navigation__link navigation__features">Features</a>
            </li>
            <li><a href="#pricing" class="navigation__link navigation__pricing">Pricing</a>
            </li>
            <li>
              <a href="#testimonials" class="navigation__link navigation__testimony">Testimonials</a>
            </li>
            <li><a href="#help" class="navigation__link navigation__help">Help</a></li>
                  </ul>
                </nav>
        <!-- Theme Toggle -->
        <label for="theme" class="theme">
          <input type="checkbox" id="theme" class="theme__checkbox" />
          <i class="fa-solid fa-sun theme__sun"></i>
          <i class="fa-solid fa-moon theme__moon"></i>
        </label>
  
        <!-- Registration Buttons -->
        <div class="registration">
          <a href="#" class="registration__btn-in">Sign In</a>
          <a href="#" class="registration__btn-up">Sign Up</a>
        </div>

    </header>
    <!-- End Header Section
    ======== -->
    <!-- Start Bio Section
    ======================================== -->
    <section class="bio" id="bio">
      <!-- Bio Content -->
      <div class="bio__description">
        <h1 class="bio__heading">
          Want anything to be easy with <span class="bio__heading--bold bold">LaslesVPN.</span>
        </h1>
        <p class="bio__text">
          Provide a network for all your needs with ease and fun using
          <span class="bio__text--bold">LaslesVPN</span> discover interesting features from us.
        </p>
        <a href="#" class="bio__btn primary-btn button">Get Started</a>
      </div>
      <!-- Bio Image -->
      <div class="bio__img">
        <img src="images/sections-img/header_img.svg" class="bio__pic"
          alt="An illustration of the bio section" />
      </div>
    </section>
    <!-- End Bio Section================== -->
      <!-- Start Statistics Section -->
    <section class="statistics">
      <!-- <div class="statistic"> -->
        <!-- Statistics Item -->
        <div class="statistics__item">
          <div class="statistics__icons">
            <img
              class="statistics__icon"
              src="images/icons/user.png"
              alt="User icon"
            />
          </div>
          <div class="statistics__info">
            <h3>90+</h3>
            <span class="statistics__name">Users</span>
          </div>
        </div>
        <!-- Statistics Item -->
        <div class="statistics__item">
          <div class="statistics__icons">
            <img
              class="statistics__icon"
              src="images/icons/location.png"
              alt="Location icon"
            />
          </div>
          <div class="statistics__info">
            <h3>30+</h3>
            <span class="statistics__name">Locations</span>
          </div>
        </div>
        <!-- Statistics Item -->
        <div class="statistics__item">
          <div class="statistics__icons">
            <img
              class="statistics__icon"
              src="images/icons/server.png"
              alt="Server icon"
            />
          </div>
          <div class="statistics__info">
            <h3>50+</h3>
            <span class="statistics__name">Servers</span>
          </div>
        </div>
      <!-- </div> -->
    </section>
      <!-- End Statistics Section -->

    <!-- Start Features Section
    =============== -->
    <section id="features" class="features">
      <!-- Image Section -->
      <div class="features__img">
        <img
          class="features__pic"
          src="images/sections-img/features_img.svg"
          alt="An illustration of the Features section"
        />
      </div>
      <!-- Features Content -->
      <div class="features__content ">
        <h2 class="features__heading h2-heading ">We Provide Many Features You Can Use</h2>
        <p class="features__description description">
          You can explore the features that we provide with fun and have their
          own functions each feature.
        </p>
        <!-- Features List -->
        <ul class="features__items">
          <li class="features__item">
            <img
              class="features__icon"
              src="images/icons/trueCircle.png"
              alt="True icon"
            />
            <p class="features__desc">Powerful online protection.</p>
          </li>
          <li class="features__item">
            <img
              class="features__icon"
              src="images/icons/trueCircle.png"
              alt="True icon"
            />
            <p class="features__desc">Internet without borders.</p>
          </li>
          <li class="features__item">
            <img
              class="features__icon"
              src="images/icons/trueCircle.png"
              alt="True icon"
            />
            <p class="features__desc">Supercharged VPN.</p>
          </li>
          <li class="features__item">
            <img
              class="features__icon"
              src="images/icons/trueCircle.png"
              alt="True icon"
            />
            <p class="features__desc">No specific time limits.</p>
          </li>
        </ul>
      </div>
    </section>
    <!-- End Features Section
    ============================================= -->
    <!-- Start Pricing Section -->
    <section class="pricing section-padding"  id="pricing">
      <!-- Pricing Section Header -->
      <div class="pricing__header section__header">
        <h2 class="h2-heading ">Choose Your Plan</h2>
        <p class="pricing__description description">
          Let's choose the package that is best for you and explore it happily
          and cheerfully.
        </p>
      </div>
      <!-- Pricing Content Wrapper -->
      <div class="pricing__plans">

        <!-- Pricing Plan Item -->

          <input
            class="pricing__checkbox"
            type="radio"
            name="checking"
            value="free"
            id="free"
          />
          <label for="free" class="pricing__label pricing__label--free">
            <!-- Item Image -->
            <div class="pricing__img">
              <img
                class="pricing__pic"
                src="images/sections-img/pricing-plan_img.png"
                alt="Icon picture for plan"
              />
              <h3 class="pricing__heading">Free Plan</h3>
            </div>
            <!-- Item List -->
            <ul class="pricing__list">
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">Unlimited Bandwidth</span>
              </li>
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">Encrypted Connection</span>
              </li>
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">No Traffic Logs</span>
              </li>
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">Works on All Devices</span>
              </li>
              <!-- Add other list items here -->
            </ul>
            <!-- Item Control -->
            <div class="pricing__footer">
              <h4 class="pricing__price"><span>Free</span></h4>
              <a class="pricing__button" >Select</a>
            </div>
          </label>




        <!-- <div class="pricing__plan"> -->
          <input
            class="pricing__checkbox"
            type="radio"
            name="checking"
            value="standard"
            id="standard"
          />
          <label for="standard" class="pricing__label pricing__label--standard">
            <!-- Item Image -->
            <div class="pricing__image">
              <img
                class="pricing__image--pic"
                src="images/sections-img/pricing-plan_img.png"
                alt="Icon picture for plan"
              />
              <h3 class="pricing__heading">Standard Plan</h3>
            </div>
            <!-- Item List -->
            <ul class="pricing__list">
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">Unlimited Bandwidth</span>
              </li>
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">Encrypted Connection</span>
              </li>
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">No Traffic Logs</span>
              </li>
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">Works on All Devices</span>
              </li>
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">Connect Anywhere</span>
              </li>
              <!-- Add other list items here -->
            </ul>
            <!-- Item Control -->
            <div class="pricing__footer">
              <h4 class="pricing__price">
                $9<span class="pricing__price--gray"> / mo</span>
              </h4>
              <a class="pricing__button" >Select</a>
            </div>
          </label>
        <!-- </div> -->



        <!-- <div class="pricing__plan"> -->
          <input
            class="pricing__checkbox"
            type="radio"
            name="checking"
            value="Premium"
            id="Premium"
          />
          <label for="Premium" class="pricing__label pricing__label--premium">
            <!-- Item Image -->
            <div class="pricing__image">
              <img
                class="pricing__image--pic"
                src="images/sections-img/pricing-plan_img.png"
                alt="Icon picture for plan"
              />
              <h3 class="pricing__heading">Premium Plan</h3>
            </div>
            <!-- Item List -->
            <ul class="pricing__list">
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">Unlimited Bandwidth</span>
              </li>
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">Encrypted Connection</span>
              </li>
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">No Traffic Logs</span>
              </li>
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">Works on All Devices</span>
              </li>
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">Connect Anywhere</span>
              </li>
              <li class="pricing__item">
                <img
                  class="pricing__icon"
                  src="images/icons/true.png"
                  alt="True icon"
                />
                <span class="pricing__text">Get New Features</span>
              </li>
            </ul>
            <!-- Item Control -->
            <div class="pricing__footer">
              <h4 class="pricing__price">$12<span class="pricing__price--gray"> / mo</span></h4>
              <a class="pricing__button"> Select</a>
            </div>
          </label>
        <!-- </div> -->
      </div>
    </section>

    <!-- End Pricing Section
    ============================================= -->

    <!-- Start Global Network Section
    ============================================= -->
    <section class="global-network section-padding" id="globalNetwork">
      <!-- Global Network Section Header -->
      <div class="section-header">
        <h2 class="section-header__title h2-heading">
          Huge Global Network <br />
          of Fast VPN
        </h2>
        <p class="global-network__description description">
          See <span class="bio__text--bold">LaslesVPN</span> everywhere to make it easier for
          you when you move locations.
        </p>
      </div>
      <!-- Global Network Content Wrapper -->
      <div class="global-network__image">
        <img 
        class="global-network__pic"
        src="images/sections-img/earthGlobal.svg" 
        alt="Earth picture" />
      </div>
    </section>
    
    <!-- End Globle Network Section
    ============================================= -->

    <!-- Start customers Section
    ============================================= -->
    <section class="customers-bar">
      <div class="customers-bar__icon">
        <img
          class="customers-bar__pic"
          src="images/customers-img/Netflix.svg"
          alt="Netflix Logo"
        />
      </div>
      <div class="customers-bar__icon">
        <img
          class="customers-bar__pic"
          src="images/customers-img/Reddit.svg"
          alt="Reddit Logo"
        />
      </div>
      <div class="customers-bar__icon">
        <img
          class="customers-bar__pic"
          src="images/customers-img/Amazon.svg"
          alt="Amazon Logo"
        />
      </div>
      <div class="customers-bar__icon">
        <img
          class="customers-bar__pic"
          src="images/customers-img/Discord.svg"
          alt="Discord Logo"
        />
      </div>
      <div class="customers-bar__icon">
        <img
          class="customers-bar__pic"
          src="images/customers-img/Spotify.svg"
          alt="Spotify Logo"
        />
      </div>
    </section>
    <!-- End Customers Section
    ============= -->
    <!-- Start Testimonials Section
    ================== -->
    <section class="testimonials section-padding" id="testimonials">

      <div class="testimonials__header section-header">
        <h2 class="testimonials__title h2-heading section-title">
          Trusted by Thousands of <br />
          Happy Customers
        </h2>
        <p class="testimonials__description show__description description">
          These are the stories of our customers who have joined us with great
          <br />
          pleasure when using this amazing feature.
        </p>
      </div>
      <div class="testimonials__wrapper">
        <!-- Start Testimonials Customer -->
        <div class="testimonial">
          <div class="testimonial__header">
            <div class="testimonial__info testimonails-info header-title">
              <img class="testimonial-img" src="images/testimonials-img/Eng_Ahmad_Ali.jpeg" alt="person picture"  />
              <div>
              <h3 class="testimonial__name small-heading">Eng Ahmad Ali</h3>
              <span class="testimonial__location">Cairo, Egypt</span>
              </div>
            </div>
            <div class="testimonial__header-rating header-rate">
              <span class="rating">4.9</span>
              <img class="star" src="images/testimonials-img/star-filled.svg" alt="Star icon" />
            </div>
          </div>
          <div class="testimonial__content">
            “Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best”.
          </div>
        </div>
        <!-- End Testimonials Customer -->
      
        <!-- Start Testimonials Customer -->
        <div class="testimonial">
          <div class="testimonial__header">
            <div class="testimonial__info testimonails-info header-title">
              <img src="images/testimonials-img/Eng_Ahmad_Fathy.jpeg" alt="person picture" class="testimonial-img" />
              <div>
              <h3 class="testimonial__name small-heading">Eng Ahmad Fathy</h3>
              <span class="testimonial__location">Cairo, Egypt</span>
              </div>
            </div>
            <div class="testimonial__header-rating header-rate">
              <span class="rating">4.9</span>
              <img class="star" src="images/testimonials-img/star-filled.svg" alt="Star icon" />
            </div>
          </div>
          <div class="testimonial__content">
            “I like it because I like to travel far and still can connect with high speed.”
          </div>
        </div>
        <!-- End Testimonials Customer -->
      
        <!-- Start Testimonials Customer -->
        <div class="testimonial">
          <div class="testimonial__header">
            <div class="testimonial__info testimonails-info header-title">
              <img src="images/testimonials-img/Eng_Mohamed_Abusrea.jpeg" alt="person picture" class="testimonial-img"/>
              <div>
              <h3 class="testimonial__name small-heading">Eng Mohamed Abusrea</h3>
              <span class="testimonial__location">Cairo, Egypt</span>
              </div>
            </div>
            <div class="testimonial__header-rating header-rate">
              <span class="rating">4.5</span>
              <img class="star" src="images/testimonials-img/star-filled.svg" alt="Star icon" />
            </div>
          </div>
          <div class="testimonial__content">
            “This is very unusual for my business that currently requires a virtual private network that has high security.”
          </div>
        </div>
        <!-- End Testimonials Customer -->
      </div>
      <div class="testimonials__controls">
        <div class="testimonials__indicators">
          <span class="testimonials__indicators-pointer"></span>
          <span class="testimonials__indicator testimonials__indicator--active"></span>
          <span class="testimonials__indicator testimonials__indicator--active"></span>
          <span class="testimonials__indicator"></span>
          <span class="testimonials__indicator"></span>
          <span class="testimonials__indicator"></span>
        </div>
      
        <div class="testimonials__nav">
          <div class="testimonial__nav testimonial__nav-arrow--left">
            <i class="fa-solid fa-arrow-left arrow-icon"></i>
          </div>
          <div class="testimonial__nav testimonial__nav-arrow--right">
            <i class="fa-solid fa-arrow-right arrow-icon"></i>
          </div>
        </div>
      </div>
            
    </section>
    
    <!-- end Testimonials Section ================================== -->
    <!-- Start subscribing Section ============================= -->
    <section class="subscribing">
      <div class="subscribing__content">
        <h2 class="subscribing__heading h2-heading">
          Subscribe Now for <br />
          Get Special Features!
        </h2>
        <p class="subscribing__description">
          Subscribe Now for Get Special Features!
        </p>
      </div>
      <a class="subscribing__button button">Subscribe Now</a>
    </section>
    
            <!-- End Subscribe -->
    <!-- Start footer Section ============================ -->
    <footer class="footer section-padding" id="help">
      <div class="footer__services footer__about">
        <div class="footer__logo">
          <img class="footer__logo--pic" src="images/Logo.png" alt="logo picture" />
          
          <span class="footer__logo--name">Lasles<span class="footer__logo--name-bold bold">VPN</span></span>
        </div>
        <p class="footer__description">
          <span class="bio__text--bold">LaslesVPN</span> is a private virtual network that <br />
          has unique features and has high security.
        </p>
        <div class="footer__icons">
          <a class="footer__icon" href="#" aria-label="Visit our Facebook page">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a class="footer__icon" href="#" aria-label="Visit our Twitter page">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a class="footer__icon" href="#" aria-label="Visit our Instagram page">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
        <p class="footer__copyright">©2020Lasles<span class="semi-bold">VPN</span></p>
      </div>
      <div class="footer__services product">
        <h3 class="footer__list-heading ">Product</h3>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">Download</a></li>
          <li><a href="#" class="footer__link">Pricing</a></li>
          <li><a href="#" class="footer__link">Locations</a></li>
          <li><a href="#" class="footer__link">Server</a></li>
          <li><a href="#" class="footer__link">Countries</a></li>
          <li><a href="#" class="footer__link">Blog</a></li>
        </ul>
      </div>
      <div class="footer__services engage">
        <h3 class="footer__list-heading small-heading">Engage</h3>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">LaslesVPN?</a></li>
          <li><a href="#" class="footer__link">FAQ</a></li>
          <li><a href="#" class="footer__link">Tutorials</a></li>
          <li><a href="#" class="footer__link">About Us</a></li>
          <li><a href="#" class="footer__link">Privacy Policy</a></li>
          <li><a href="#" class="footer__link">Terms of Service</a></li>
        </ul>
      </div>
      <div class="footer__services earnMoney">
        <h3 class="footer__list-heading small-heading">Earn Money</h3>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">Affiliate</a></li>
          <li><a href="#" class="footer__link">Become Partner</a></li>
        </ul>
      </div>
    </footer>


  </div>
</body>
</html>